.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 25px;
    padding-top: 15px;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 2;
}

.header__logoImg {
    flex: 1;
    margin-right: 100px;
    object-fit: contain;
    width: 90px;
}

.header__links {
    display: flex;
    gap: 15px;
}

.header__links > a:hover {
    backdrop-filter: blur(16px);
    background-color: hsla(0, 0%, 0%, 0.05);
}

.header__links > a {
    border-radius: 50px;
    color: #171a20;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s;
}

.header__right {
    align-items: center;
    display: flex;
    gap: 15px;
}

.header__right > a {
    border-radius: 50px;
    color: #171a20;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    /* transition: all 0.2s; */
    z-index: 0;
}

.header__right > a:hover {
    backdrop-filter: blur(16px);
    background-color: hsla(0, 0%, 0%, 0.05);
}

.header__menu {
    color: #171a20;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    z-index: 2;
}

.header__menu > .MuiSvgIcon-root {
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.header__link--hidden {
    visibility: hidden;
}