.headerBlock {
    background: url('https://tesla.com/ns_videos/model-3-social.jpg') no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    display: grid;
    left: 0;
    place-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.headerBlock__info {
    display: flex;
    flex-direction: column;
    height: 360px;
}

.headerBlock__infoText {
    flex: 1;
    text-align: center;
}

.headerBlock__infoText > h1 {
    color: #393c41;
    font-size: 38px;
    font-weight: 500;
}

.headerBlock__infoText > h4 {
    color: #5c5e62;
    font-size: 15px;
    font-weight: 400;
}

.headerBlock__infoText > h4 > span {
    border-bottom: 1px solid black;
    color: 393c41;
    cursor: pointer;
    padding-bottom: 4px;
    padding-top: 15px;
}

.headerBlock__infoText > h4 > span:hover {
    border-bottom-width: 2px;
    color: black;
}

.headerBlock__actions {
    display: flex;
    gap: 20px;
    margin-top: 330px;
}

.headerBlock__actions > button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    padding-bottom: 12px;
    padding-top: 12px;
    text-transform: uppercase;
    width: 260px;
}